body,
h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif; /* Setting a default font for the body */
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center the direct children of the body horizontally */
  justify-content: center; /* This will center the direct children of the body vertically */
  height: 100vh; /* This makes the body take up the full viewport height */
  position: relative; /* Setting up for absolute positioning of timer and highscore */
}

/* Main page style */
header {
  text-align: center;
  background-color: #46d5f8;
  color: white;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A subtle shadow */
  margin: 20px 10%;
  padding-left: 5px;
  padding-right: 5px;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

header p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.start-btn {
  margin-top: 15px;
  background-color: white;
  color: #46d5f8; /* Green text to match the header background */
  padding: 10px 20px;
  border: none; /* Remove any default borders */
  border-radius: 5px;
  cursor: pointer; /* Change cursor to hand when hovering */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}
.start-btn:hover {
  background-color: #f4f4f4; /* Change background color when hovering */
}

/* Timer style */
.timer {
  position: absolute; /* Absolute positioning relative to the body */
  top: 10px;
  right: 10px;
}

/* View score style */
.view.highscore {
  position: absolute; /* Absolute positioning relative to the body */
  top: 10px;
  left: 10px;
  color: purple;
}

/* Quiz style */
.quiz {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.questions {
  margin-top: 20px;
}
.question-choice {
  text-align: center;
  margin: 30px auto;
  padding: 10px 20px;

  font-size: 24px;
  font-weight: bold;
  color: #333;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center; /* Center the text */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
/* Style choices */
.choices li {
  list-style-type: none;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer; /* Showing a pointer when hovering over a choice */
  transition: background-color 0.2s; /* Smooth transition for hover effect */
  width: 260px;
  height: 10px;
  background-color: rgb(247, 79, 112);
  border-radius: 10px;
}

/* Display None */
.question-choice,
.choices,
.right-wrong-answer {
  display: none;
}
/* Hover effect */
.choices li:hover {
  background-color: #eee;
}

/* Right or wrong answer style */
span {
  border-top: 2px rgb(197, 197, 197) solid;
  padding-top: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  font-style: italic;
}

/* End form */

.end-form,
.scoreboard {
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.end-form p,
h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.end-form input {
  padding: 10px;
  border: 1px solid #ccc;
  width: 80%;
  margin: 0 auto;
  display: block;
}

.end-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  cursor: pointer;
}

.end-form button:hover {
  background-color: #0056b3;
}

/* Style score form */

.scoreboard button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  cursor: pointer;
}

.highscore h2 {
  cursor: pointer; /*cursor pionter*/
}
